<div class="flex  bg-grey-200 justify-center p-8">
  <div class="box-content w-[500px] h-[700px] border-4 rounded rounded-xl">
    <div class="p-8 flow-center"> LockBit History
      <embed
        class="w-[400px] h-[600px] rounded-xl"
        src="/assets/HISTORY OF LOCKBIT.pdf"
      />
    </div>
  </div>
  
  <div class="box-content w-[500px] h-[700px] border-4 rounded rounded-xl ">
    <div class="p-8 flow-center"> My Report
      <embed
        class="w-[400px] h-[600px] rounded-xl"
        src="/assets/SI-MMFY-0000 Malware - Template.pdf"
      />
    </div>
  </div>
</div>
