<div class="flex items-center mt-8">
  <div class="w-full rounded rounded-xl bg-white ">
    <div class="p-4 flex items-center">
      <div class=" mr-2">
        <img class="w-[600px] h-[200px]" (click)="onLinkClick('report')" src="assets/lockbit_blog.png" />
      </div>
      <div class="flex flex-col">
        <div class="flex-row">
          <span class="text-grey-500 font-bold text-xl">
            Report
          </span>
        </div>
        <div class="flex-row">
          <p class="text-gray-400 font-bold"> Threat Intel Report </p>
        </div>
        <div>
            <p>LockBit: Advanced 
              ransomware-as-a-service targeting organizations, demanding ransom in cryptocurrency, 
              with elusive threat actors. Strong cybersecurity practices essential for protection.
            </p>
        </div>
      </div>
    </div>
  </div>
</div>

