<div class="overflow-auto">
  <div class="grid grid-cols-6 gap-3">

    <!--my projects-->
    <div class="col-span-4 section rounded-lg p-12">
      <div class="grid grid-cols-1 gap-4">
        <div class="col-span-1">
          <h2 class="text-3xl">My Projects</h2>
        </div>
            <app-cards></app-cards>
            <app-presentation></app-presentation>
      </div>
    </div>

    <!--resume-->
    <div class="col-span-2 section rounded-lg p-10 flex">
      <div class="col-span-2">
        <h2 class="text-3xl">Resume</h2>
        <app-resume></app-resume>
      </div>
    </div>

    <!-- achievements -->
    <div class="col-span-4 section rounded-lg p-12">
      <div class="grid grid-cols-2 gap-4">
        <div class="col-span-1">
          <h2 class="text-3xl pb-8">Achievements</h2>
          <div
            class="box-content h-[330px] p-1 border-4 bg-white rounded rounded-xl"
          >
            <div class="flex items-center">
              <div class="flex-col mr-2">
                <img
                  class="w-[500px] h-[300px] rounded-xl p-1"
                  src="assets/viddy.jpg"
                />
              </div>

              <div class="flex-col">
                <a href="https://hrblock-my.sharepoint.com/personal/tuana_tinaztepe_hrblock_com/_layouts/15/stream.aspx?id=%2Fpersonal%2Ftuana%5Ftinaztepe%5Fhrblock%5Fcom%2FDocuments%2FAttachments%2Fexport%5F1690142566391%2EMOV&nav=eyJkZWZhdWx0TmF2UGFuZWwiOnsicGx1Z2luTmFtZSI6Ik1lZGlhU2V0dGluZ3NMYXllciJ9LCJyZWZlcnJhbEluZm8iOnsicmVmZXJyYWxBcHAiOiJTdHJlYW1XZWJBcHAiLCJyZWZlcnJhbFZpZXciOiJVcGxvYWREaWFsb2dPcGVuQnV0dG9uIiwicmVmZXJyYWxBcHBQbGF0Zm9ybSI6IldlYiIsInJlZmVycmFsTW9kZSI6InZpZXcifX0%3D" target="_blank"><img
                  class="ps-5 w-[150px] h-[100px] ps-8"
                  src="assets/video-play.jpg"
                /></a><br>

                <div class="flex-row">
                  <p class="text-gray-400 flex-center">Tiktok</p>
                </div>

                <div>
                  <p>
                    A video that includes my great experience in my H&R Block
                    internship time with pictures!
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="pt-11 ">
          <!--Brag sheet goes here-->
          <br />
          
            <div
              class="box-content h-[330px] p-1 border-4 bg-white rounded rounded-xl"
            >
              <div class="flex items-center">
                <div class="flex-col mr-2">
                  <img
                    class="w-[300px] h-[300px] rounded-xl p-1"
                    src="assets/Rocket.png"
                  />
                </div>
  
                <div class="flex-col ">
                  <img
                    class="ps-5 w-[150px] h-[100px] ps-8"
                    src="assets/success.png"
                  /><br>
                  <mat-select placeholder="Achievements"  >
                    <button><mat-option value="option1" (click)="onLinkClick('part-1')">Week 1-4</mat-option></button>
                    <mat-option value="option2" (click)="onLinkClick('part-2')">Week 5-9</mat-option>
                  </mat-select>
                  <br>
  
  
                  <div>
                    <p>
                      Check out what I have accomplished here week by week!
                    </p>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>

    <!--about me-->
    <div class="col-span-2 section rounded-lg p-10">
      <div class="col-span-1">
        <h2 class="text-3xl">About me</h2>
        <br />
        <app-about-me></app-about-me>
      </div>
    </div>

    <style>
      #chaty {
        position: fixed;
        bottom: 10px;
        left: 10px;
      }
      #pop-up {
        position: fixed;
        left: 10px;
        bottom: 50px;
        border-radius: 5px solid green;
      }
    </style>

    <div id="chaty"class=" h-10 w-10">
        <button (click)="toggleIframe()">
            <img src="assets/aiChat.png">
        </button>
    
        <div class ="rounded-xl "id="pop-up">
        <iframe *ngIf="showIframe" src="https://hrbaichat.hrblock.com/" width="500"height="500"></iframe>
        </div>
    </div>
  </div>
</div>
