.section {
    background-color: #c5ebd4;
}

.see-more {
    color: #005D1F;
}

.image-container {
    position: relative;
    display: inline-block;
  }

.tooltip {
    visibility: hidden;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #e7e2e2;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
  }

  .image-container:hover .tooltip {
    visibility: visible;
  }