<div class="flex items-center mt-8">
  <div class="w-full rounded rounded-xl bg-white">
    <div class="p-4 flex items-center">
      <div class="flex-col mr-2">
        <img class="w-[300px] h-[200px] rounded-xl" (click)="onLinkClick('presentation')" src="assets/presentation-images.jpg" />
      </div>
      <div class="flex flex-col">
        <div class="flex-row">
          <span class="text-grey-500 font-bold text-xl"> Presentation </span>
        </div>
        <div class="flex-row">
          <p class="text-gray-400 font-bold">Summary</p>
        </div>
        <div>
          <p>One slide presentation to represent to executives</p>
        </div>
      </div>
    </div>
  </div>
</div>
